@import "../shared/shared";

.content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;

  .info-container {
    margin-top: 2rem;
    .entry {
      font-size: 1.2rem;

      margin-bottom: 2rem;
      .label {
        font-weight: 600;
        color: #fffa;
        margin-bottom: .5rem;
      }

      .value {

      }
    }
  }
}

:host ::ng-deep .dx-list {
  .dx-list-item {
    border: 0 !important;
    min-height: 4rem !important;
    height: 4rem !important;
    max-height: 4rem !important;
    overflow: hidden !important;
    float: left !important;
    margin: 0 !important;
  }
}