<img class="background" src="../../assets/backgrounds/city.webp">

<div class="main-container">
  <div class="main">
    <h1 class="title">Pokedex</h1>

    <dx-scroll-view>
      <dx-list
        [items]="items"
        itemTemplate="item"
        >
        <div *dxTemplate="let item of 'item'" (click)="router.navigate([item.route])">
          <div style="position: absolute; width: 100%; height: 100%; z-index: 1; filter: blur(4px); background-size: cover; background-position: center;" [style.background-image]="'linear-gradient(#0004, #0004), url(' + item.background + ')'"></div>
          <h5 style="position: absolute; text-align: center; z-index : 2; width: 100%; top: 50px; font-weight: 600; ">{{item.text}}</h5>
        </div>
      </dx-list>
    </dx-scroll-view>
  </div>

</div>

