<div
  [style]="{
    borderColor: colors[attack.type_],
    color : colors[attack.type_],
    display: 'flex',
    justifyContent: 'space-between',
    margin: '.2rem'
  }">
  <div style="border: none; border-radius: 0; width: 8rem; min-width: 8rem; max-width: 8rem; text-overflow: ellipsis; border-right: 1px solid #fff5">
    {{ attack.name }}
  </div>
  <div style="border: none;font-weight: 500; padding-left: 1rem; display: flex; flex-direction: row; justify-content: space-evenly; width: 6rem;">
    <b style="font-weight: 700;">{{ attack.power }}p</b>
    {{ hitChanceInPercent }}%
  </div>
</div>
