<img class="background" src="/assets/backgrounds/lab.jpg">

<div class="main-container">
  <div class="main">
    <dx-scroll-view>
      <h1 class="title">
        Pokedex
        <dx-button
          *ngIf="user.isProfessor()"
          (click)="router.navigate(['/pokedex/new'])"
          class="modify-button"
          text="Dodaj nowy gatunek"
          icon="add"
        >
        </dx-button>
      </h1>


      <dx-list
        [dataSource]="pokemonList"
        (onItemClick)="itemClick($event)"
        [searchEnabled]="true"
        searchExpr="name"
        searchMode="contains"
        nextButtonText="Załaduj więcej"
      >
        <div *dxTemplate="let item of 'item'" style="display : flex; flex-direction: column">
          <img [src]="'/assets/sprites/pokemon/' + item.ID + '.png'" >
          <div style="display: flex;">
            <div style="color: #fff8; margin-right: .2rem"> {{item.ID}} </div>
            {{item.name}}
          </div>
          <div style="display: flex; flex-direction: row">
            <app-type-label *ngFor="let type of item.types" [type]="type"></app-type-label>
          </div>
        </div>
      </dx-list>
    </dx-scroll-view>
  </div>

</div>

