<img class="background" src="/assets/backgrounds/lab.jpg">

<div class="main-container">
  <div class="main">
    <dx-scroll-view>
      <h1 class="title">
        Pokedex
        <dx-button
          *ngIf="user.isProfessor()"
          (click)="router.navigate(['/pokedex/new'])"
          class="modify-button"
          text="Dodaj nowy gatunek"
          icon="add"
        >
        </dx-button>
      </h1>


      <!-- <dx-list
        [dataSource]="dataSource"
        (onItemClick)="itemClick($event)"
        [searchEnabled]="true"
        searchExpr="name"
        searchMode="contains"
        nextButtonText="Załaduj więcej"
      >
        <div *dxTemplate="let item of 'item'" style="display : flex; flex-direction: column">
          <img [src]="'/assets/sprites/pokemon/' + item.number + '.png'" >
          <div style="display: flex;">
            <div style="color: #fff8; margin-right: .2rem"> {{item.number}} </div>
            {{item.name}}
          </div>
          <div style="display: flex; flex-direction: row">
	          <app-type-label [type]="item.primary_type"></app-type-label>
	          <app-type-label *ngIf="item.secondary_type" [type]="item.secondary_type"></app-type-label>
          </div>
        </div>
      </dx-list> -->
      <dx-data-grid
        [dataSource]="dataSource"
        [rowAlternationEnabled]="true"
        [showBorders]="true"
        [columnAutoWidth]="true"
        (onRowClick)="itemClick($event)"
        >
        <dxo-filter-row [visible]="true"></dxo-filter-row>

        <dxi-column dataField="number" caption="Numer" dataType="number" cellTemplate="imgTemplate" [width]="180">
        </dxi-column>

        <dxi-column dataField="name" caption="Gatunek" dataType="string">
        </dxi-column>

        <dxi-column dataField="min_level" caption="Min. poziom" dataType="number" [width]="100">
        </dxi-column>

        <dxi-column dataField="region" caption="Region wyst." dataType="string" cellTemplate="regionTemplate">
        </dxi-column>
        
        <dxi-column caption="Typ" dataField="types" dataType="string" cellTemplate="typeTemplate" >
        </dxi-column>

        
        <div *dxTemplate="let s of 'sexTemplate'">
          <app-sex-label [sex]="s.value"></app-sex-label>
        </div>

        <div *dxTemplate="let r of 'regionTemplate'">
          <app-region-label [region]="r.value"></app-region-label>
        </div>

        <div *dxTemplate="let i of 'imgTemplate'" style="display: flex; flex-direction: row; align-items: center;">
          <b style="margin-right: .2rem;">#{{i.value}}</b>
          <img width="100" height="100" [src]="'/assets/sprites/pokemon/' + i.value + '.png'">
        </div>

        <div *dxTemplate="let s of 'typeTemplate'" style="display: flex; flex-direction: row;">
          <app-type-label *ngFor="let type of s.value" [type]="type"></app-type-label>
        </div>
      </dx-data-grid>
    </dx-scroll-view>
  </div>

</div>

