@import "../shared/shared";

:host ::ng-deep .dx-list {
  .dx-list-item {
    border: 0;
    width: 20%;
    min-height: 8rem;
    height: 8rem;
    max-height: 8rem;
    overflow: hidden;
    float: left;
    margin-top: 0 !important;
  }
}
