<img class="background" src="../../assets/backgrounds/city.webp">

<div class="main-container">
  <div class="main">
    <dx-scroll-view>
      <h1 class="title">
        Typy
        <dx-button
          *ngIf="user.isProfessor()"
          (click)="router.navigate(['/pokedex/new'])"
          class="modify-button"
          text="Dodaj nowy typ"
          icon="add"
        >
        </dx-button>
      </h1>

      <dx-list
        [items]="types"
        itemTemplate="item"
        (onItemClick)="click($event)"
      >
        <div *dxTemplate="let item of 'item'" [style]="{
          backgroundColor: colors[item]
        }">
          {{item}}
        </div>
      </dx-list>
    </dx-scroll-view>
  </div>
</div>

<dx-popup
  [(visible)]="popupVisible"
  [closeOnOutsideClick]="true"
  [title]="currentType"
  [width]="'20rem'"
  [height]="'min-content'"
  >
  <div
    style="display: flex; align-items: center; justify-content: center; flex-direction: column"
  >
    <dx-button style="margin: 1rem" text="Znajdź Pokemony tego typu"></dx-button>
    <dx-button style="margin: 1rem" text="Idź do regionu tego typu"></dx-button>
    <dx-button style="margin: 1rem" text="Idź do areny tego typu"></dx-button>
  </div>
</dx-popup>
