<img class="background" src="/assets/backgrounds/city.webp">

<div class="main-container">
  <div class="main">
    <h1 class="title">Dodaj nowego Pokemona</h1>
    <div class="form-container">
      <div [style.visibility]="formData.pokedex_num ? 'visible' : 'hidden'" style="display: flex; flex-direction: row; align-items: center;">
        <img width="100" height="100" [src]="'/assets/sprites/pokemon/' + formData.pokedex_num + '.png'">
        <div style="display: flex; flex-direction: column; align-items: center;">
          <div [style.color]="formData.name ? '#fff' : '#fffa'" style="font-size: 2rem; display: flex; flex-direction: row;">
            {{formData.name ? formData.name : (currentPokedexData ? currentPokedexData.name : '')}}
            <div [style.color]="formData.level === 0 ? '#fff9' : '#fff'" style="margin-left: .6rem; display: flex; flex-direction: row;">Lv.{{formData.level}} <div style="color: #fffa">>{{currentPokedexData.min_level}}</div></div>
          </div>
          <div style="display: flex; flex-direction: row;">
            <app-type-label [type]="currentPokedexData.primary_type"></app-type-label>
            <app-type-label *ngIf="currentPokedexData.secondary_type" [type]="currentPokedexData.secondary_type"></app-type-label>
            <app-sex-label style="margin-left: .6rem;" [sex]="formData.sex"></app-sex-label>
          </div>
        </div>
      </div>

      <form (submit)="onFormSubmit($event)">
      <dx-form
        id="newPokemonEntryForm"
        [colCount]="2"
        [formData]="formData"
        style="width: 30rem;"
        [showValidationSummary]="true"
        validationGroup="pokemonData"
      >
        <dxi-item
          [colSpan]="2"
          editorType="dxSelectBox"
          [editorOptions]="{
            dataSource: currentPokedexList,
            valueExpr: 'number',
            displayExpr: pokedexDisplayExpr,
            onSelectionChanged: updateCurrentPokedex,
            searchEnabled: true,
            searchExpr: 'name'
          }"
          dataField="pokedex_num"
          >
          <dxo-label text="Gatunek Pokemona"></dxo-label>
          <dxi-validation-rule
            type="required"
            message="Podaj gatunek dodawanego Pokemona"
            >
          </dxi-validation-rule>
        </dxi-item>

        <dxi-item
          [colSpan]="2"
          dataField="name"
          >
          <dxo-label text="Imię Pokemona"></dxo-label>
        </dxi-item>
        
        <dxi-item
          [colSpan]="1"
          dataField="level"
          editorType="dxNumberBox"
          >
          <dxo-label text="Poziom Pokemona"></dxo-label>
          <dxi-validation-rule
            type="range"
            [max]="100"
            message="Poziom Pokemona musi być mniejszy niż 100"
            >
          </dxi-validation-rule>
          <dxi-validation-rule
            type="range"
            [min]="currentPokedexData.min_level"
            message="Poziom Pokemona musi być większy niż minimalny"
            >
          </dxi-validation-rule>
          <dxi-validation-rule
            type="required"
            message="Podaj poziom dodawanego Pokemona"
            >
          </dxi-validation-rule>
          </dxi-item>

        <dxi-item
          [colSpan]="1"
          dataField="sex"
          editorType="dxSelectBox"
          [editorOptions]="{
            dataSource: [true, false],
            displayExpr: getSexLabel
          }"
          >
          <dxo-label text="Płeć Pokemona"></dxo-label>
        </dxi-item>

        <dxi-item
          [colSpan]="2"
          itemType="button"
          [buttonOptions]="{
            text: 'Dodaj nowego Pokemona',
            useSubmitBehavior: true,
            type: 'success'
          }"
        >
        </dxi-item>
      </dx-form>
      </form>
    </div>
  </div>
</div>
