<img class="background" src="../../assets/backgrounds/stadium.webp">

<div class="main-container">
  <div class="main">
    <dx-scroll-view>
      <h1 class="title">
        Moje Areny
        <dx-button
          (click)="router.navigate(['/arena/list'])"
          class="modify-button"
          text="Znajdź nowe areny"
          icon="search"
        >
      </dx-button>
      </h1>
      <dx-list
        [items]="myMemberships"
        itemTemplate="item"
      >
        <div *dxTemplate="let item of 'item'" (click)="router.navigate(['/arena/' + item.arena])">
          <div style="position: absolute; width: 100%; height: 100%; z-index: 1; filter: blur(4px); background-size: cover; background-position: center;" [style.background-image]="'linear-gradient(#0004, #0004), url(\'../assets/backgrounds/arena.jpg\')'"></div>
          <h5 style="position: absolute; text-align: center; z-index : 2; width: 100%; top: 50px; font-weight: 600; ">{{item.arena}}</h5>
          <h6 style="position: absolute; text-align: center; z-index : 2; width: 100%; top: 70px; font-weight: 400; ">Punkty: {{item.score}}</h6>
        </div>
      </dx-list>
    </dx-scroll-view>
  </div>

</div>

