<dx-form
  id="newPokedexEntryForm"
  [colCount]="2"
  [formData]="formData"
  >
  <dxi-item
    >
    <dx-text-box label="Nazwa Pokemona" [(value)]="formData.Name"></dx-text-box>
  </dxi-item>
  <dxi-item
  >
    <dx-number-box label="Minimalny Level" [(value)]="formData.MinLVL"></dx-number-box>
  </dxi-item>
  <dxi-item
  >
    <dx-select-box label="Minimalna jakość Pokeballa" [items]="['Pokeball', 'Great Ball', 'Master Ball']"></dx-select-box>
  </dxi-item>
  <dxi-item
  >
    <dx-select-box label="Region występowania" [items]="['Unova', 'Johto']"></dx-select-box>
  </dxi-item>
  <dxi-item
  >
    <dx-select-box label="Typ #1" [items]="['Fire', 'Ice', 'Water', 'Dark', 'Poison', 'Ground', 'Grass', 'Bug', 'Fighting', 'Fairy', 'Ghost']"></dx-select-box>
  </dxi-item>
  <dxi-item
  >
    <dx-select-box label="Typ #2" [items]="['Fire', 'Ice', 'Water', 'Dark', 'Poison', 'Ground', 'Grass', 'Bug', 'Fighting', 'Fairy', 'Ghost']"></dx-select-box>
  </dxi-item>



  <dxi-item>
    <dx-button text="Submit" (click)="submit($event)"></dx-button>
  </dxi-item>
</dx-form>
