<img class="background" src="../../assets/backgrounds/stadium.webp">

<div class="main-container">
  <div class="main">
    <dx-scroll-view>
    <h1 class="title">
      {{arenaData?.arena}}
      <dx-button
        class="modify-button"
        text="Dodaj nową walkę"
        icon="add"
        (onClick)="router.navigate(['arena/'+arenaData.id + '/newfight'])"
      >
      </dx-button>
    </h1>

    <div style="margin-top: 5rem; display: flex; flex-direction: row; justify-content: space-between">
      <div class="ranking" style="width: 78%; max-height: 20rem; background-color: #f002; border-radius: 1rem;">
        <dx-scroll-view>
        <div style="font-size: 2rem; text-align: center; margin-bottom: .2rem;">Ranking</div>
        <dx-data-grid
          [dataSource]="arenaMembers"
          >
          <dxi-column caption="Gracz" dataField="usr" cellTemplate="userTemplate"></dxi-column>
          <dxi-column caption="Data dołączenia" dataField="join_date"></dxi-column>
          <dxi-column caption="Punkty" dataField="score"></dxi-column>

          <div *dxTemplate="let d of 'userTemplate'">
            {{ getUsername(d.value) }}
          </div>
        </dx-data-grid>
        </dx-scroll-view>
      </div>
      <div style="width: 20%; background-color: #0f02; border-radius: 1rem; padding: 2rem">
        <h3 style="font-size: 2rem">Twoje punkty:</h3>
        <h2 style="font-size: 3.2rem; font-weight: 500; display: flex; flex-direction: row"> {{arenaData?.score}} </h2>
      </div>
    </div>

    <div style="margin-top: 2rem; font-size: 1.6rem">Twoje walki</div>
    <dx-data-grid
      [dataSource]="myFights"
      [columnAutoWidth]="true"
      [columnWidth]="'auto'"
      [width]="'100%'"
      >
      <dxi-column dataField="won" caption="Rezultat" cellTemplate="resultTemplate"></dxi-column>
      <dxi-column dataField="duel_date" caption="Data walki"></dxi-column>
      <dxi-column [width]="400" dataField="my_pokemon_id" caption="Mój Pokemon" cellTemplate="pokemonTemplate"></dxi-column>
      <dxi-column dataField="opponent_id" caption="Przeciwnik" cellTemplate="enemyTemplate"></dxi-column>
      <dxi-column [width]="400" dataField="opponent_pokemon_id" caption="Pokemon przeciwnika" cellTemplate="enemyPokemonTemplate"></dxi-column>

      <div *dxTemplate="let r of 'resultTemplate'">
        {{r.value ? 'Wygrana' : 'Przegrana'}}
      </div>

      <div *dxTemplate="let mp of 'pokemonTemplate'" style="display: flex; flex-direction: row; align-items: center;">
        <img height="50" width="50" [src]="'/assets/sprites/pokemon/' + allPokemonData[mp.value].pokedex_num + '.png'">
        {{ allPokemonData[mp.value].name }}
      </div>

      <div *dxTemplate="let e of 'enemyTemplate'">
        {{ getUsernameFromId(e.value)}}
      </div>

      <div *dxTemplate="let ep of 'enemyPokemonTemplate'" style="display: flex; flex-direction: row; align-items: center;">
        <img height="50" width="50" [src]="'/assets/sprites/pokemon/' + allPokemonData[ep.value].pokedex_num + '.png'">
        {{ allPokemonData[ep.value].name }}
      </div>
    </dx-data-grid>
    </dx-scroll-view>
  </div>
</div>

