<img class="background" src="../../assets/backgrounds/stadium.webp">

<div class="main-container">
  <div class="main">
    <h1 class="title">
      {{arenaData?.arena}}
      <dx-button
        class="modify-button"
        text="Dodaj nową walkę"
        icon="add"
        style="margin-right: 12rem"
      >
      </dx-button>
    </h1>

    <div style="display: flex; flex-direction: row; justify-content: space-between">
      <div style="width: 49%; background-color: #f002; border-radius: 1rem; padding: 2rem">
        <h3 style="font-size: 2rem">Twoja pozycja:</h3>
        <h2 style="font-size: 3.2rem; font-weight: 500; display: flex; flex-direction: row">#12 <div style="font-weight: 200; color: #fffa">/29</div></h2>
      </div>
      <div style="width: 49%; background-color: #0f02; border-radius: 1rem; padding: 2rem">
        <h3 style="font-size: 2rem">Twoje punkty:</h3>
        <h2 style="font-size: 3.2rem; font-weight: 500; display: flex; flex-direction: row"> {{arenaData?.score}} </h2>
      </div>
    </div>

    <div style="margin-top: 2rem; font-size: 1.6rem">Twoje ostatnie 5 walk:</div>
    <dx-data-grid
      [dataSource]="recentFights"
      [columnAutoWidth]="true"
      [columnWidth]="'auto'"
      [width]="'100%'"
    >
    </dx-data-grid>

  </div>
</div>

